<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Prompt Tuning Interface</title>
    <!-- Add some CSS to change client UI -->
    <style>
    body {
        background-color: #232F3E;
        }
    label, button, p {
        color: #FF9900;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        margin-left: 20px;
        }
    h1 {
        color: #FF9900;
        font-family: Arial, Helvetica, sans-serif;
        }
     input, textarea {
        color: #232F3E;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        margin-left: 20px;
        }
     label, input {
        display: block;
     }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
      $(function() {
          $('#runScript').bind('click', function() {
                  storeRFPCall();
                  return false;
              })
              .bind('click', function() {
                  doPoll();
                  return false;
              });
      });
    </script>
    <script>
      function storeRFPCall(){
          $( '#dataStatus' ).text( "Unsaved" );
          $.post('/stashRFPData',
                 {
                     id: {{ job_id|tojson }},
                     promptIn: $('textarea[id="prompt"]').val(),
                     reportNumIn: $('input[id="reportNum"]').val(),
                     rfpStartIn: $('input[id="rfpStart"]').val(),
                     rfpEndIn: $('input[id="rfpEnd"]').val(),
                     useGPT4: $('input[id="gpt4Box"]').prop("checked")
                 },
                 function(data) {
                     $( '#dataStatus' ).text( data.status );
                 });
      }
    </script>
    <script>
      function doPoll(){
          $.post('/query', {
              id: {{ job_id|tojson }},
              rfpStatus: $( '#dataStatus' ).text(),
          }, function(data) {
              $( '#runStatus' ).text( data.state );
              $( '#result' ).text( data.result );
              if (data.result == 0) {
                  // wait 2 seconds and call again
                  setTimeout(doPoll, 2000);
              } else {
                  $( '#result' ).text( data.result );
                  var runStatus = $('#runStatus').text()
                  if ( runStatus == "Done!!!") {
                      writePDF();
                  }
              }
          });
      }
    </script>
    <script>
      function writePDF(){
          $.get("https://brycepm2.pythonanywhere.com/static/pdfOut/RFPSummary.pdf")
              .done(function() { 
                  var clone = document.getElementById("pdfOut").cloneNode(true);
                  clone.data = "/static/pdfOut/RFPSummary.pdf";
                  var placeHolder = document.getElementById("pdfOut").parentNode;
                  placeHolder.removeChild(document.getElementById("pdfOut"));
                  placeHolder.appendChild(clone);
              }).fail(function() { 
                  // wait 1 seconds and try again
                  setTimeout(writePDF(), 1000);
              })
      };
    </script>
    </head>
<body>
  <form>
    <div>
      <label for="prompt">Desired Prompt:</label>
      <textarea id="prompt" rows="14" cols="100">Input your desired prompt here. Note that the RFP text will be automatically added on each run.
      </textarea>
    </div>

    <div>
      <label for="email">Email (currently not emailing):</label>
      <input type="text" id="email">
    </div>

    <div>
      <label for="reportNum">MyBidMatch Report Number (1 - most recent date):</label>
      <input type="text" id="reportNum">
    </div>

    <div>
      <label for="rfpStart">First RFP to analyze (# column in report, starts at 1):</label>
      <input type="text" id="rfpStart">
      <label for="rfpEnd">Last RFP to analyze (# column in report, max number to analyze = 30):</label>
      <input type="text" id="rfpEnd">
    </div>

    <div>
      <label for="gpt4Box">Use GPT4:</label>
      <input type="checkbox" id="gpt4Box">
    </div>

    <div>
      <a href=# id=runScript><button class='btn btn-default'>Submit</button></a>
    </div>

    <div class="content">
      <p>Data status: <span id="dataStatus">Unsaved</span></p>
      <p>Status of your request: <span id="runStatus"></span></p>
      <p>Time for request: <span id="result">?</span> seconds</p>
  </div>
    <h1>PDF Output</h1>
    <object id="pdfOut" data="/static/pdfOut/RFPSummary.pdf" type="application/pdf" style="width:100%;height:350px;">
      PDF cannot be displayed
    </object>
  </form>
</body>

</html>
